#controls {
    text-align:       center;
}

table {
    width:            100%;
}

table, th, td {
    border-style:     solid;
    border-width:     1px;
}

th, td {
    padding:          5px;
}

th {
    color:            #aaaaaa;
    background-color: #272727;
    text-align:       center;
}

td.date {
    width:            100px;
    text-align:       center;
}
